{% extends 'base.html' %}
{% block content %}


{% if not is_autor %}



{% else %}


<form method="post" enctype="multipart/form-data">
       {% csrf_token %}
       {{ formset.as_p }}
       <button type="submit">Create Draft </button>
</form>


{% endif %}

    <ul>
------------------------------<p>
{% for draft in drafts %}
    {{ draft.text }}
        
    {% if draft.images %}
        <p><img src="{{draft.images.url}}"></p>
    {% else %}
        <p></p>
    {% endif %}
    
    ------------------------------<p>
{% endfor %}
    </ul>

{% endblock %}